nav {
  box-sizing: border-box;
  background-color: #212529;
  height: 72px;
  width: 100vw;
  padding: 16px 20px;
  position: fixed;
  top: 0;
  transition: height 0.2s linear;
  overflow: hidden;
  z-index: 2;
}

nav.expand {
  height: 240px;
  transition: height 0.2s linear;
  z-index: 2;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

h1 {
  height: 24px;
}

nav h1 img {
  height: 100%;
}

nav button {
  color: white;
  background-color: #fed136;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  display: flex;
}

.hamburger {
  background-color: white;
  height: 2px;
  width: 10px;
  margin: 2.5px 2px 0 5px;
}

.menu {
  background-color: #212529;
  margin-top: 20px;
  font-size: 15px;
}

li {
  margin-top: 20px;
}

@media (min-width: 990px) {
  nav {
    background-color: transparent;
    height: 94px;
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    height: fit-content;
  }

  nav h1 img {
    height: 160%;
    width: auto;
    margin-left: 60px;
  }

  nav button {
    display: none;
  }

  .menu {
    background-color: transparent;
  }

  .menu ul {
    display: flex;
    margin-right: 60px;
  }

  li {
    margin: 0 10px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  li:hover {
    color: #fed136;
  }
}
